<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue2getstart</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="vue.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>

    <div class="container" id="tasks">
        <div>
            <div v-show="remaining.length">
                <!-- <h1>Tasks ({{tasks.length}}) </h1>  改为remaining-->
                <h1>Tasks ({{remaining.length}}) </h1>
            </div>

            <ol class="list-group">
                <!-- <li v-for="task in tasks" -->
                <!-- <li v-for="task in tasks | inProcess" vue2中过滤器只能放在Mustache和v-bind表达式中，所以在v-for中只能自定义了-->
                <li v-for="task in inProcessTasks"
                    class="list-group-item"
                >
                <!-- <span v-on:dblclick="editTask(task)" v-text="task.body"></span>  这个v-text可以用的-->
                <span v-on:dblclick="editTask(task)">{{task.body}}</span>
                <!-- <span v-on:dblclick="editTask(task)">{{ task | inProcess }}</span>  也可以在这里mustache写，不在v-for中写 不过这个有问题，因为写的filter不对，流入的是task.body，接收不到task的completed的，所以错误 -->

                    <button v-on:click="removeTask(task)">&#10007;</button>
                    <!-- <button v-on:click="completeTask(task)">&#10004;</button> -->
                    <button v-on:click="toggleTaskCompletion(task)">&#10004;</button>
                </li>
            </ol>

        </div>

        <!-- <form v-on="submit: addTask"> 没有这种弄个写法了vue1-->
        <!-- <form v-on:action="addTask"> 写action也不对，加button中也不对-->

        <!-- <form v-on:submit.prevent="addTask"> 这是对的，配合下面button中没有click 事件 两种都可以用，下面一种是只有修饰符-->
        <!-- <form v-on:submit.prevent> -->
        <form v-on:submit.prevent="addTask">
            <div class="form-group">
                <input  type="text"
                        v-model="newTask"
                        ref="newTask"
                        class="form-control"
                        placeholder="I need to">

            </div>

            <!-- <button type="submit"
                class="btn btn-primary"
                v-on:click="addTask">Add Task</button> -->
            <button class="btn btn-primary" >Add Task</button>
            <button v-on:click="completeAll"
                    class="btn btn-dafault"
            >
                    Mark All As Completed?
            </button>
        </form>

        <!-- <pre>{{ $data | json}} </pre> --> <!-- 这个很好用，来看代码 -->

        <div v-if="completions.length">
            <h2>Completed ({{completions.length }}) </h2>

            <ol class="list-group">
                <!-- <li v-for="task in tasks" -->
                <li v-for="task in completedTasks"
                    class="list-group-item"
                >
                    <span v-on:dblclick="editTask(task)">{{task.body}}</span>  <!-- 也可以在这里mustache写，不在v-for中写 -->
                    <!-- <span v-on:dblclick="editTask(task)">{{task.body}}</span> -->

                    <!-- <button v-on:click="completeTask(task)">&#10004;</button> -->
                    <button v-on:click="toggleTaskCompletion(task)">&#10007;</button>
                </li>
            </ol>

            <button @click="clearCompleted"
                    class="btn btn-danger">Clear Completed</button>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>